.graphs {
  margin: 5rem auto;
}

.graphs__wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.graph__label {
  display: block;
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  letter-spacing: -1px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;

  @media (max-width: 850px) {
    margin: 3rem auto 0;
    font-size: 4.1vw;
  }
}

.graph__info {
  font-family: 'Alegreya', serif;
  font-weight: 400;
  text-align: center;
  font-size: 2vw;
  color: var(--gray);
  margin: 0;
  margin-top: -1vw;

  @include strip(
    var(--strip-color),
    var(--strip-height),
    var(--strip-width),
    1rem auto,
    1rem auto
  );

  @media (max-width: 850px) {
    font-size: 3.5vw;
  }
}

.label__team1,
.label__team2 {
  flex: 0 0 42%;
  font-weight: 500;

  @media (max-width: 1220px) {
    flex: 0 0 38%;
  }
}

.label__score1,
.label__score2 {
  flex: 0 0 0;
  margin: 0 1rem;
  font-size: 6vw;
  transition: margin 200ms ease;

  @media (max-width: 850px) {
    margin: 0 0.5rem;
    font-size: 10vw;
  }
}

.label__score2,
.label__score1 {
  text-align: center;
}

.label__team1 {
  text-align: right;
}

.label__team2 {
  text-align: left;
}

.label__vs {
  flex: 0 0 0;
}

.graph__canvas {
  display: block;
  margin: 0 1rem;

  @media (max-width: 710px) {
    margin: 0 auto;
  }
}

[data-orientation='gol-top'],
[data-orientation='gol-bottom'] {
  max-width: 25vw;

  @media (max-width: 1150px) {
    width: 97%;
    max-width: 100rem;
  }
}

[data-orientation='gol-left'],
[data-orientation='gol-right'] {
  // max-height: 30vw;

  @media (max-width: 1150px) {
    width: 97%;
    max-height: 100rem;
  }
}

.graph__stats,
.graph__confront {
  font-family: 'Alegreya', serif;
  font-size: 1.5rem;
  margin: 0;
  padding-left: 1.4rem;
  color: var(--gray);

  @media (max-width: 650px) {
    font-size: 4vw;
    padding-left: 2.2vw;
  }
}

.graph__confront {
  margin-top: 2rem;
}

.graph__team {
  color: var(--text-color);
  font-size: 2.5rem;
  line-height: 0.2;

  @media (max-width: 850px) {
    font-size: 6vw;
  }
}

.graph__metric {
  color: var(--text-color);
}

[data-plot-graphs] {
  margin-bottom: 3rem;
}
