.graphs {
  margin: 5rem auto;
}

.graphs__inspiration {
  display: block;
  max-width: 1200px;
  margin: 5rem auto;

  @media (max-width: 1300px) {
    width: 90%;
    padding: 0 1rem;
    margin: 7vw auto;
  }
}

.graphs__wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.graph__label {
  text-align: center;
}

.graph__canvas {
  display: block;
}

[data-orientation='gol-top'],
[data-orientation='gol-bottom'] {
  max-width: 570px;

  @media (max-width: 710px) {
    width: 100%;
    max-width: 100rem;
  }
}

[data-orientation='gol-left'],
[data-orientation='gol-right'] {
  max-height: 570px;

  @media (max-width: 710px) {
    width: 100%;
    max-height: 100rem;
  }
}
