.inspiration {
  display: block;
  margin: 0 auto;
  width: 80%;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
}

.canvas {
  margin: 5rem 2rem;
  transition: margin 300ms ease;
  max-width: 700px;

  @media (max-width: 800px) {
    margin: 5rem 0;
  }

  @media (max-width: 710px) {
    width: 100%;
    max-width: 100rem;
    margin: 1rem 0;
  }
}

