$text-color: #222;
$text-width: 600px;
$accent-color: darkred;

$link-color: darkred;

$btn-background: darkred;
$btn-font-color: white;
$btn-border: none;

$strip-color: darkred;
$strip-height: 0.7rem;
$strip-width: 10rem;

$select-text-color: darkred;

$nav-border-color: #999;
$nav-shadow-color: #bbb;

$input-border: 1px solid $nav-border-color;
