.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.github__svg {
  fill: var(--accent-color);
  position: fixed;
  top: 0;
  border: 0;
  left: 0;
  z-index: 7;
  transform: rotate(-90deg);
}

.octo-arm,
.octo-body {
  fill: white;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
