figure {
  margin: 0;
}

.graphs-examples {
  display: block;
  margin: 0 auto;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.figcaption {
  padding: 1rem;
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.1rem;

  @media (max-width: 490px) {
    line-height: 1.9;
    font-size: 3.5vw;
  }
}

.championship_logo {
  display: block;
  margin: 0 auto;
  height: 120px;

  @media (max-width: 490px) {
    height: 25vw;
  }
}

.world_cup_2018 {
  height: 170px;

  @media (max-width: 490px) {
    height: 30vw;
  }
}

.germany {
  height: 150px;

  @media (max-width: 490px) {
    height: 30vw;
  }
}

.france {
  height: 150px;

  @media (max-width: 490px) {
    height: 30vw;
  }
}

.italy {
  height: 150px;

  @media (max-width: 490px) {
    height: 30vw;
  }
}
