.loader {
  border: 0.7vw solid var(--loader-background);
  border-top-color: var(--accent-color);
  border-radius: 50%;
  width: 16vw;
  height: 16vw;
  animation: spin 1s ease-in-out infinite;
  margin: 0 auto;

  .slider__graph & {
    position: fixed;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
}
@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(2turn);
  }
}
