@mixin margin {
  margin: 0 auto 3rem;

  @media (max-width: 700px) {
    margin: 0 auto 7vw;
  }
}

@mixin padding {
  padding: 0 1rem;
}

@mixin strip($color, $height, $width, $margin-desktop, $margin-mobile) {
  &:after {
    content: '';
    display: block;
    height: $height;
    width: $width;
    background-color: $color;
    margin: $margin-desktop;

    @media (max-width: 700px) {
      margin: $margin-mobile;
      height: calc(#{$height} - 0.3rem);
      width: calc(#{$width} - 4rem);
    }
  }
}
