$text-width: 750px;

h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #111;
}

.title {
  text-align: center;
  font-size: 7rem;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -4px;

  @include margin;
  @include padding;

  @media (max-width: 700px) {
    font-size: 16vw;
  }
}

.subtitle {
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -1px;
  max-width: $text-width;

  @include margin;
  @include padding;

  @media (max-width: 600px) {
    font-size: 8vw;
  }
}

.paragraph {
  font-size: 1.4rem;
  max-width: $text-width;
  line-height: 1.5;

  @include margin;
  @include padding;

  @media (max-width: 490px) {
    line-height: 1.9;
    font-size: 4.2vw;
  }
}
