node_modules/
public/js
public/styles
dist/
.lsp/
/target
/checkouts
/src/gen
.cpcache

pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

*.vim
tags*

.python-version
my-project-env/
.clj-kondo/

src/main/data/soccer_match_event_dataset/events_England.json
src/main/data/soccer_match_event_dataset/events_European_Championship.json
src/main/data/soccer_match_event_dataset/events_France.json
src/main/data/soccer_match_event_dataset/events_Germany.json
src/main/data/soccer_match_event_dataset/events_Italy.json
src/main/data/soccer_match_event_dataset/events_Spain.json
src/main/data/soccer_match_event_dataset/matches_England.json
src/main/data/soccer_match_event_dataset/matches_European_Championship.json
src/main/data/soccer_match_event_dataset/matches_France.json
src/main/data/soccer_match_event_dataset/matches_Germany.json
src/main/data/soccer_match_event_dataset/matches_Italy.json
src/main/data/soccer_match_event_dataset/matches_Spain.json
