package-lock.json

node_modules/
public/js
public/styles
dist/
.lsp/
/target
/checkouts
/src/gen
.cpcache

soccer_match_event_dataset

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

*.vim
tags

my-project-env/
