{:deps {org.clojure/data.json {:mvn/version "0.2.7"}
        org.clojure/tools.cli {:mvn/version "0.4.2"}
        camel-snake-kebab {:mvn/version "0.4.1"}
        football.utils {:local/root "./src/main/football/utils"
                        :deps/manifest :deps}}
 ; FIXME:
 ; https://clojure.org/reference/deps_and_cli
 :classpath-overrides {football.utils "./src/main/football/utils"}}
