{:deps {org.clojure/data.json {:mvn/version "0.2.7"}
        org.clojure/tools.cli {:mvn/version "0.4.2"}
        camel-snake-kebab {:mvn/version "0.4.1"}
        org.clojure/data.csv {:mvn/version "0.1.4"}
        org.jgrapht/jgrapht-core {:mvn/version "1.3.1"}
        cnuernber/libpython-clj  {:mvn/version "1.36"}
        utils.core {:local/root "./src/main/utils/core"
                    :deps/manifest :deps}}
 :paths ["src/dev" "src/main" "src/test" "src/specs"]
 :classpath-overrides {utils.core "./src/main/utils/core"
                       project-specs "./src/specs/project_specs"}}
