;; shadow-cljs configuration
{:source-paths ["src/dev"
                "src/main"
                "src/test"]
 :dependencies []
 :dev-http {8080 "public"}
 :builds {:reactive
          {:target :browser
           :modules {:main {:init-fn reactive.app/init}}}}}
