@import '../../node_modules/normalize-scss/sass/normalize',
  './modules/canvas.scss';

body {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
}

