#root {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.canvas {
  margin: 5rem 5rem;
}

@media screen and (max-width: 600px) {
  .canvas {
    width: 100%;
    margin: 1rem 0;
  }
}
